//
// Custom CSS (Normal CSS file)  - New Internationalist CMS Templates 2014 - Peter Stewart (pete.stewart@newint.org)
// --------------------------------------------------------------------------------------------------------------------


body
{
    border-top: none;
    //border-top:7px solid $brand-primary;
}

#ni_main {
    height:800px;
    width:100%;
    margin-top:77px;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

a:focus {
    outline: none;
}


.ni_selected {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.16) inset;
    border:1px solid rgba(0,0,0,0.2)
}

.ni_float-right {
    float: right;
}

.ni_header
{
    //@extend .row;
    background-color: $brand-primary;
    padding: 5px 0 1px 0;
    position: fixed;
    z-index: 10;
    width:100%;
    top: 0;
}

.ni_header h1
{
    margin: 0;
    padding: 0;
}

.ni_hgroup 
{
    margin: 0;
    padding: 0 0 5px 0;
}

.ni_logo
{
    @extend .text-hide;
    @extend .ni_header-logo;
}

.ni_text-hide 
{
    @extend .text-hide;
    margin: 0;
}

.ni_navbar-login, .ni_navbar-search, .ni_navbar-menu
{
    max-width: px-rem(321px, $rem-ratio);
    height: 100%;
    background-color: #fff;
    padding: 8px 15px;

    position: fixed;
    //overflow-y: auto;
    top: 51px;
    z-index: 20;
    border-right: 2px solid $brand-primary;
}

.ni_navbar-login {
    overflow-y: auto;
}

.ni_navbar-search {
    border-bottom: 3px solid $brand-primary;
    height: auto;
    width: 101%;
    max-width:101%;
}

.ni_navbar-menu
{
    padding: 8px 0;
}

.ni_sub-nav li
{
    width: 100%;
    margin-right: 4%;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    font-weight: bold;
}

.ni_tabs {
    height:100%;
}

#ni_menu-tab {
    padding-left: 3px;
}

.ni_tab-mag {
    background-color: $brand-primary;
    color: rgb(255, 255, 255);
}

.ni_tab-books {
    background-color: $book-primary;
    color: rgb(255, 255, 255);
}

.ni_tab-shop {
    background-color: $shop-primary;
    color: rgb(255, 255, 255);
}

.ni_tab-blog {
    background-color: $blog-primary;
    color: rgb(255, 255, 255);
}

.ni_navbar-menu li.active {
    z-index: 10;
}

.ni_navbar-menu .active > a {
    border-width: 2px 2px 0px !important;
    border-style: solid solid none !important;
    font-weight: bold !important;
    background-color: rgb(255, 255, 255) !important;
}


.active a.ni_tab-mag  {
    border-color: $brand-primary !important;
    color: $brand-primary !important;
}

.active > a.ni_tab-books {
    border-color: $book-primary !important;
    color: $book-primary !important;
}

.active > a.ni_tab-shop {
    border-color: $shop-primary !important;
    color: $shop-primary !important;
}

.active > a.ni_tab-blog  {
    border-color: $blog-primary !important;
    color: $blog-primary !important;
}

#ni_pan-mag, #ni_pan-books, #ni_pan-shop, #ni_pan-blog  {
    position: relative;
    top: -3px;
    @include box-shadow(0 0 5px rgba(0,0,0,0.5));
    border-width: 3px 0 2px 0;
    border-style: solid;

    overflow-y: auto;
    height: 100%; 
}

#ni_pan-mag  {
    border-color: $brand-primary;
    color: $brand-primary;
}

#ni_pan-books  {
    border-color: $book-primary;
    color: $book-primary;
}

#ni_pan-books a  {
    color: $book-primary;
}

#ni_pan-shop  {
    border-color: $shop-primary;
}

#ni_pan-shop a {
    color: $shop-primary;
}

#ni_pan-blog  {
    border-color: $blog-primary;
}

#ni_pan-blog a {
    color: $blog-primary;
}

.ni_droplet a {
    padding-left: 30px !important;
    @include font-size(12px);
}

#carousel
{
    max-width: 600px;
    margin: auto;
}

.ni_h1, .ni_lead
{
    padding-left:  ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
}

.ni_social-login
{
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

#ni_user-login-form
{
    padding: 10px 0;
}

/*blockquote
{
    @include box-shadow(0 0 6px rgba(0,0,0,0.5));
    border-left: 0.5em solid $brand-primary;
    @include border-left-radius(3px);
    background-color: #fff;
    margin-left: 1em;
    padding: 1px 15px 9px;
}


blockquote p
{
    @include font-size($font-size-base);
    line-height: $line-height-base;
    display: inline-block;
}
blockquote:before
{
    content:'\201C';
    margin: 0 0.67em 1em -1.19em;
    color: $brand-primary;

    @include font-size(42);
    line-height:1.142857143em;
    font-weight:bold;
}
*/

.ni_blog-article-list {
    max-width: px-rem(950px, $rem-ratio);
    width: 100%;
    margin: auto;
}

.ni_blog-article-list h1 {
    @include font-size(21px);
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.ni_blog-article-list p {
    margin-left: 2%;
    margin-top: 3px;
    margin-bottom: 5px;
}

.ni_top-article {
    background-color: rgba(0,0,0,0.1);
    padding-bottom: 1px;
    margin-bottom: 8px;
}

//.ni_awards cite
//{
    //    display: block;
//}

/*.ni_footer
{
    clear: both;
    height: 30px;
    margin-top: 20px;
    padding: 5px;
    text-align: center;
    border-top: 4px solid $brand-primary;
}

.ni_foot-links
{
    overflow: hidden;
    margin: auto;
    display: inline-block;
    padding: 0;
}

.ni_foot-links li
{
    float: left;
    list-style-type: none;
    padding: 10px;
}

.ni_copyright
{
    color: $gray-light;
    @include font-size($font-size-small);
}
*/

.ni_navbar-toggle
{
    margin-top: 0;
    margin-bottom: 0px;
    padding: 9px 12px 5px;
    @include font-size(18px);
}


.ni_color-white
{
    color:#fff;
}

.ni_bgcolor-white
{
    background-color:#fff;
}

.ni_divider
{
    height: 1px;
    margin: 9px 0px;
    overflow: hidden;
    background-color: rgb(229, 229, 229);
    display: block;
}

 
