//
// Variables
// --------------------------------------------------


$book-primary:         rgb(215, 90, 0);
$shop-primary:         rgb(50, 110, 150);
$blog-primary:         rgb(85, 110, 5);

$ni_light-gray: rgba(0,0,0,0.2);


// Global values
// --------------------------------------------------

$ni_site-sprite: 'graphics/sprite.png';
$ni_mobile-logo: 'graphics/mobile-logo.png';

$ni_sprite-width: 480px; // currently the same as main logo width, but just because there's nothing else in the sprite.  This will change.
$ni_sprite-height: 76px; // currently the same as main logo height, but just because there's nothing else in the sprite.  This will change.

$ni_mobile-logo-width: 250px;
$ni_mobile-logo-height: 40px;

$ni_header-height-large: 130px;
$ni_header-height-tablet: 130px;
$ni_header-height-phone: 50px;

// Width & height for the full size New Internationalist logo.
$ni_main-logo-width: 440px;
$ni_main-logo-height: 76px;
$ni_main-logo-bg-position: 0px;

// Width, height & possition for the New Internationalist medium sized logo.
$ni_mid-logo-width: 210px;
$ni_mid-logo-height: 40px;
$ni_mid-logo-bg-position: -40px 0px;


// Width & height for the New Internationalist icon.
$ni_icon-logo-width: 40px;
$ni_icon-logo-height: 40px;
$ni_icon-logo-bg-position: 0px 0px;

$ni_phone_h1_font_size: ceil($font-size-base * 2.142857143); // ~30px
$ni_line-height-small: 1.142857143; // ~16

$ni_div-margin-bottom: 20px;

$ni_cmq-size: 610px;


$base-percent: 62.5;
$base-size: $base-percent * 1%;
$base-px: $base-percent * 0.16;

$base-font-size: 10px;
$rem-ratio: strip-unit(base-font-size) / 1rem;
@debug $rem-ratio;

 
